@import 'config';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: rgb(253, 255, 232);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.signatures {
  margin: 2rem;

  @media screen and (max-width: 650px) {
    margin: 0;
  }
}

input,
select,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.line {
  border-color: rgb(232, 233, 163);
  border-top-style: dotted;
  margin: '0.001rem 0:0';
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

main {
  margin: 2rem;

  @media screen and (max-width: 589px) {
    margin: 0.4rem;
  }
}

::marker {
  font-size: 2rem;
}

.input--invalid {
  background-color: #fbb;
  border-color: rgb(134, 24, 24);
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .rwd-break {
    display: none;
  }
}
