.table {
  border-collapse: collapse;
  width: 100%;
  border: 1.5px solid rgb(149, 170, 93);;
  
  &__headercell {
    padding: 0.75rem;
    border: 1.5px solid rgb(149, 170, 93);;
  }
  
  &__cell {
    padding: 0.75rem;
    border: 1.5px solid rgb(149, 170, 93);;
  }

}
